:root{
  font-size: 62.5% ; 
}

  .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 1rem;
    width: 40rem;
    margin-left: 31rem;
  }

 .ultimo_container{
    margin-left: 57rem;
    margin-right: auto;
 
 }
  .container_item{
    width: 25rem;
    height: 30rem;
    font-size: 1.5rem;
    background: black;
    margin-top: 3rem;
    color: white;
    text-align: center;
  
  }

  .container_item img{
    width: 100%;
    height: 50%;
  }