:root {
	font-size: 62.5%; /* 1rem = 10px */
  }
  
  .menu-ativar #ativar-botao {
	cursor: pointer;
  }
  
  .menu-ativar {
	position: fixed;
	top: 1rem;
	left: 1rem; 
	z-index: 2;
  }
  
  .menu {
	width: 0;
	background-color: #172131;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition:  0.5s;
	font-family: "Poppins";
  }
  
  .menu li {
	padding: 1rem;
	font-size: 2rem;
  }
  
  #ativar-botao {
	height: 4.8rem;
	width: auto;
	transition: 0.5s;
  }
  
  #ativar-botao:hover {
	transform: scale(1.1);
  }
  
  .menu a {
	color: #dbe2eb;
	text-decoration: none;
	display: block;
	transition: color 0.3s;
  }
  
  .menu li:hover {
	background-color: #474747;
  }
  
  #paginaInicial {
	margin-top: 7rem;
  }
  
  .menuAberto {
	width: 27rem; /* Manter valores iguais ao da classe centralizado */
  } 
  
  .centralizado {
	margin-left: 27rem; 
  }
  
  .botao {
	width: 3rem;
	height: 3rem;
	background-color: #fff;
	margin: 0.4rem 0; 
	transition: 0.4s;
  }
  
  .button-turma:hover {
	background-color: #2f5781;
  }
  
  .paginaAtual {
	color: #6ca9ff;
  }
  
  .conteudoItem {
	transition: 0.5s;
  }
  
