* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;

  /* Fontes */
  --ff-titles: Arial, Helvetica, sans-serif;

  /* Backgrounds */
  --bg-primary: #dbe2eb;
  --bg-secondary: #141D2C;

  /* Textos */
  --text-color: #dbe2eb;
  --text-color-theme: #141D2C;
}

body {
  background-color: var(--bg-primary);
}

header {
  background-color: var(--bg-secondary);
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#imagemFantasma{
 position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
 
}

.tituloPagina {
  font-family: var(--ff-titles);
}

.linkTituloPagina {
  text-decoration: none;
  color: var(--text-color);
}

.botaoVoltarProxima {
  width: 5rem;
  height: 5rem;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.3s;
}

.botaoVoltarProxima:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.botaoProxima {
  margin-top: 4rem;
  margin-right: 5rem;
}

.botaoVoltar {
  margin-top: 4rem;
  margin-left: 5rem;
  position:fixed;
  left: 0;
  top: 0;
}

main {
  background-color: var(--bg-primary);
  height: 8.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temaDaPagina,
.turmaH1,
.turmaH2Cards {
  display: flex;
  align-content: center;
  justify-content: center;
  color: var(--text-color-theme);
  font-size: var(--ff-titles);
}

.turmaH1 {
  margin-top: 0.3rem;
}

.turmaH2Cards {
  margin-top: 0.1rem;
}

.divCentralizaConteudo {
  display: flex;
  justify-content: center;
  align-content: center;
}

footer {
  background-color: var(--bg-secondary);
  height: 0.3rem;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.creditosCaixa {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.footerCreditos {
  font-size: var(--ff-titles);
  color: var(--text-color);
}
