.subtituloIntroduçao {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

.caixaTextoIntroduçao {
    margin-top: 50rem;
    display: none;
}

.textoIntroduçao {
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.botaoVerNovamente {
    margin-left: 28rem;
    font-size: 2rem;
    display: none;
    width: 10rem;

}