.subtituloIntroduçao {
    font-family: Arial, Helvetica, sans-serif;
}

.caixaTextoIntroduçao {
    margin-top: 50rem;
}

.textoIntroduçao {
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
